{% extends 'LesAutresSiteBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ title }}</h1>
    {% for date in dates %}
        {% if date.event and date.event.show %}
            {{ include('LesAutresSiteBundle:Default:event.html.twig', {'event': date.event}) }}
        {% endif %}
    {% endfor %}
{% endblock %}
