{% if isMobile() %}
    {% set parent = 'LesAutresSiteBundle::mobile.html.twig' %}
{% else %}
    {% set parent = 'LesAutresSiteBundle::layout.html.twig' %}
{% endif %}
{% extends parent %}

{% block content %}
    <h1>la Compagnie des Autres</h1>
    <div class="frame">
        <p>
            <span class="bold">Théâtre forum</span><br/>
            Créée en 1990, la Compagnie des Autres est composée de comédiens, auteurs, techniciens et metteurs en scène professionnels. A côté de créations “classiques”, elle développe depuis plusieurs années sa pratique d’un théâtre citoyen et engagé auprès des spectateurs, le théâtre-forum.<br/>
            <a class="show_link" href="{{ path('page', {'slug': 'theatre-forum'}) }}">Lire la suite</a>
        </p>
        <div style="clear:both;"></div>
    </div>
    <div class="frame">
        <p>
            <span class="bold">Création à la carte</span><br/>
            La Compagnie des Autres intervient à la demande dans le cadre de la création de spectacles sur des thèmes choisis, adaptés à un public ciblé ou très large.<br/>
            <a class="show_link" href="{{ path('page', {'slug': 'creation-a-la-carte'}) }}">Lire la suite</a>
        </p>
        <div style="clear:both;"></div>
    </div>
    <div class="frame">
        <p>
            <span class="bold">Ateliers et formations</span><br/>
            La Compagnie des Autres intervient à la demande dans le cadre d’opérations à court , moyen et long terme, pour la formation de formateurs, la sensibilisation des publics , la mise en place d’ateliers périodiques et la création de spectacles d'amateurs sur des thèmes choisis.<br/>
            <a class="show_link" href="{{ path('page', {'slug': 'ateliers-et-formations'}) }}">Lire la suite</a>
        </p>
        <div style="clear:both;"></div>
    </div>
    <div class="frame">
        <p>
            <span class="bold">Autres spectacles</span><br/>
            Chaque année depuis sa création, la Compagnie des Autres participe à la création et la diffusion d'un spectacle de théâtre conventionnel , en production, coproduction ou coréalisation. Ces spectacles sont disponibles à la vente.<br/>
            <a class="show_link" href="{{ path('page', {'slug': 'autres-spectacles'}) }}">Lire la suite</a>
        </p>
        <div style="clear:both;"></div>
    </div>
{% endblock %}
