{% extends 'LesAutresSiteBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ title }}</h1>
    {{ page.text|raw }}
    {% if page.shows %}
        {% for show in page.shows %}
            {{ include('LesAutresSiteBundle:Default:show.html.twig', {'show': show}) }}
        {% endfor %}
    {% endif %}
{% endblock %}
