<ul class="menu">
    {% for page in pages %}
        <li>
            <a href="{% if page.slug == 'accueil' %}{{ path('homepage') }}{% else %}{{ path('page', {'slug': page.slug}) }}{% endif %}" {% if page.slug == menu_underline_slug %} class="underline"{% endif %}>{{ page.title }}</a>
        </li>
    {% endfor %}
</ul>