<ul class="menu">
    {% for page in pages %}
        <li>
            <a href="{{ path('page', {'slug': page.slug}) }}" {% if page.slug == menu_underline_slug %} class="underline"{% endif %}>{{ page.title }}</a>
        </li>
    {% endfor %}
</ul>