<ul class="menu">
    <li>
        <a href="{{ path('homepage') }}" {% if menu_underline_slug == 'accueil' %} class="underline"{% endif %}>Accueil</a>
    </li>
    {% for page in pages %}
        <li>
            <a href="{{ path('page', {'slug': page.slug}) }}" {% if page.slug == menu_underline_slug %} class="underline"{% endif %}>{{ page.title }}</a>
        </li>
    {% endfor %}
</ul>