<div class="social">
    
    <!-- Javascript -->
    <script>
        function fbs_click()
        {
            u=location.href;
            t=document.title;
            window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');
            return false;
        }
        
        function gps_click()
        {
            window.open(this.href,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
            return false;
        }
    </script>
    
    <!-- Facebook -->
    <a rel="nofollow" href="http://www.facebook.com/share.php?u={{ url }}" onclick="return fbs_click()" title="Partager sur Facebook" target="_blank">
        <img width="32" height="32" alt="Facebook" src="/images/icons/facebook.png">
    </a>
    
    <!-- Twitter -->
    <a href="http://twitter.com/home?status={{ url }}" title="Partager sur Twitter" target="_blank">
        <img width="32" height="32" alt="Twitter" src="/images/icons/twitter.png">
    </a>
    
    <!-- Google + -->
    <a target="_blank" href="https://plus.google.com/share?url={{ url }}" onclick="return gps_click()" title="Partager sur Google +">
        <img width="32" height="32" alt="Google+" src="/images/icons/googleplus.png">
    </a>
    
</div>