/*
 * site
 */

body {
    background: url("/images/background/body.png") repeat scroll 0 0 transparent;
}

.site {
    margin: 0 auto;
    width: 1024px;
    font-size: 0;
}

.leftcolumn {
    float: left;
    padding: 10px;
    width: 180px;
    font-size: 12px;
}

.rightcolumn {
    margin-left: 200px;
    padding: 10px;
    width: 804px;
    font-size: 12px;
}



/*
 * left column
 */

.leftcolumn img.logo {
    padding: 10px 2px;
}

.leftcolumn div.social_links {
    margin: 10px;
    text-align: center;
}

.leftcolumn ul.menu {
    background: none repeat scroll 0 0 #FCBC7C;
    color: white;
    padding: 10px;
}

.leftcolumn ul.menu li {
    margin: 20px 5px;
    text-align: right;
    list-style-type: none;
}

.leftcolumn ul.menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.leftcolumn div.infos {
    margin: 20px 0;
    font-size: 14px;
    text-align: center;
}

.leftcolumn div.infos p {
    padding: 5px;
}



/*
 * right column
 */

.rightcolumn div.scroller {
    margin: 5px auto;
    padding: 12px;
    border-color: #CCCAE2;
    border-style: solid;
    border-width: thick;
    font-size: 16px;
    width: 529px;
}

/* Make it a marquee */
.marquee {
    width: 529px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 30s linear infinite;
}

.marquee:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 40em }
    100% { text-indent: -75em }
}



.rightcolumn div.title {
    margin: 10px auto 30px;
    text-align: center;
    color: #ABABAB;
    font-size: 16px;
}

.rightcolumn div.page {
    float: left;
    width: 534px;
    min-height: 400px;
    margin: 10px 0;
    text-align: justify;
    box-shadow: 0 0 4px #888;
}

.rightcolumn div.agenda {
    float: right;
    width: 240px;
    margin: 10px 0;
    padding: 5px;
    max-height: 350px;
    overflow: auto;
    box-shadow: 0 0 4px #888;
}

.rightcolumn div.agenda_title {
    color:#FCBE7D;
    font-weight:bold;
    font-size:12px;
}

.rightcolumn div.agenda h4 {
    /*background: none repeat scroll 0 0 #fcf9ce;*/
    margin: 15px 0 5px 0;
}

.rightcolumn div.agenda p {
    margin: 5px 5px 5px 10px;
}

.rightcolumn div.slideshow {
    float: right;
    width: 250px;
    margin: 10px 0;
}



/*
 * footer
 */

.footer {
    /*clear: both;*/
    float: left;
    padding-bottom: 10px;
    margin: 0 auto;
    width: 400px;
    text-align: center;
    font-size: 10px;
    color: grey;
}
