/*
 * default css
 */

* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-decoration: none;
}



/*
 * main css
 */

.bold { font-weight:bold; }
.italic { font-style:italic; }
.underline { text-decoration: underline !important; }
.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }
.float_left { float: left; }
.float_right { float: right; }