.page h1,
.page h2,
.page h3,
.page p,
.page ul,
#tinymce h1,
#tinymce h2,
#tinymce h3,
#tinymce p,
#tinymce ul {
    margin: 10px;
    font-family: Arial;
    font-size: 12px;
}

.page h1,
#tinymce h1 {
    font-size: 18px;
    margin-bottom: 30px;
}

.page h2,
#tinymce h2 {
    font-size: 16px;
    margin-top: 30px;
    clear: both;
}

.page h3,
#tinymce h3 {
    font-weight: bold;
    margin-top: 20px;
}

.page ul li,
#tinymce ul li {
    margin-left: 30px;
}



div.error {
    margin: 100px;
    text-align: center;
}



div.social {
    float: right;
    font-size: 0;
    padding: 5px;
}

div.social img {
    margin: 5px;
}

div.show_infos {
    float: right;
}

div.show_infos img.picture {
    margin: 5px;
    padding: 5px;
    width: 150px;
    height: 225px;
}

div.show_infos a.dossier {
    background-color: #D9E9B3;
    padding: 5px;
    color: black;
    font-weight: bold;
    vertical-align: middle;
}

div.show_infos a.dossier img {
    vertical-align: bottom;
}



div.frame {
    margin: 10px;
    border: 1px solid #CCCAE2;
    clear: both;
}

div.frame .show_link {
    float: right;
    margin: 10px;
    color: #FCBC7C;
    font-weight: bold;
}

div.googlemaps {
    width: 200px;
    height: 200px;
    margin: 10px;
    float: right;
}