.page h1,
.page h2,
.page p,
.page ul {
    margin: 10px;
}

.page h1 {
    font-size: 18px;
    margin-bottom: 30px;
}

.page h2 {
    font-size: 16px;
    margin-top: 30px;
}

.page ul li{
    margin-left: 30px;
}