# Use the front controller as index file. It serves as fallback solution when
# every other rewrite/redirect fails (e.g. in an aliased environment without
# mod_rewrite). Additionally, this reduces the matching process for the
# startpage (path "/") because otherwise Apache will apply the rewritting rules
# to each configured DirectoryIndex file (e.g. index.php, index.html, index.pl).
DirectoryIndex app.php

# pages deplacees
Redirect 301 /accueil /
Redirect 301 /uploads/pdf/02_onfermeFiche.pdf /uploads/show/on-ferme/02_onfermeFiche.pdf
Redirect 301 /uploads/pdf/15_1_2_3.pdf /uploads/show/1-2-3-la-tete-de-l-emploi/15_1_2_3.pdf
Redirect 301 /autres-spectacles/prudence /spectacle/prudence
Redirect 301 /uploads/pdf/14_situmaimes.pdf /uploads/show/si-tu-m-aimes/14_situmaimes.pdf
Redirect 301 /uploads/pdf/fiche_JJ.pdf /uploads/show/john-et-joe/fiche_JJ.pdf
#07/07/2013
Redirect 301 /uploads/pdf/17_risques.pdf /uploads/show/reves-partis/17_risques.pdf
Redirect 301 /nos-spectacles-forum/ados-j-ecoute /spectacle/ados-j-ecoute
Redirect 301 /nos-spectacles-forum/non /spectacle/non
Redirect 301 /autres-spectacles/un-caprice-a-de-musset /spectacle/un-caprice
Redirect 301 /nos-spectacles-forum/1-2-3-la-tete-de-l-emploi /spectacle/1-2-3-la-tete-de-l-emploi
Redirect 301 /nos-spectacles-forum/banc-public /spectacle/banc-public
Redirect 301 /uploads/pdf/forum05_francky.pdf /uploads/show/qui-a-peur-de-qui-galere/forum05_francky.pdf
Redirect 301 /uploads/pdf/forum03_bancpublic.pdf /uploads/show/banc-public/forum03_bancpublic.pdf
Redirect 301 /autres-spectacles/john-joe /spectacle/john-et-joe
Redirect 301 /nos-spectacles-forum/1-2-3-la-tete-au-carre /spectacle/1-2-3-la-tete-au-carre
Redirect 301 /uploads/pdf/fiche_prudence.pdf /uploads/show/prudence/fiche_prudence.pdf
Redirect 301 /uploads/pdf/13_perilenlaDemeure.pdf /uploads/show/peril-en-la-demeure/13_perilenlaDemeure.pdf
Redirect 301 /uploads/pdf/forum18_nofuture.pdf /uploads/show/no-future-today/forum18_nofuture.pdf

# pages supprimees
#07/07/2013
Redirect 301 /spectacle/undefined /
Redirect 301 /nos-spectacles-forum/8eme-forum-public /
Redirect 301 /video/non/1 /
Redirect 301 /video/non/2 /
Redirect 301 /video/1-2-3-la-tete-de-l-emploi/1 /
Redirect 301 /video/1-2-3-la-tete-de-l-emploi/2 /
Redirect 301 /video/non/undefined /
Redirect 301 /video/prudence/undefined /
Redirect 301 /video/ados-j-ecoute/1 /
Redirect 301 /video/ados-j-ecoute/2 /
Redirect 301 /video/ados-j-ecoute/3 /
Redirect 301 /uploads/pdf/tractOFF_2011.pdf /
Redirect 301 /page.php /
Redirect 301 /nos-spectacles-forum/journee-portes-ouvertes /
Redirect 301 /index.php /

<IfModule mod_rewrite.c>
    RewriteEngine On

    # 301
    RewriteCond %{HTTP_HOST} !^www.lesautres.org$ [NC]
    RewriteRule ^(.*)$ http://www.lesautres.org/$1 [R=301,L]

    # Trailing slash
    RewriteCond %{REQUEST_URI} ^(.+)/$
    RewriteRule ^(.+)/$  /$1 [R=301,L]

    # Redirect to URI without front controller to prevent duplicate content
    # (with and without `/app.php`). Only do this redirect on the initial
    # rewrite by Apache and not on subsequent cycles. Otherwise we would get an
    # endless redirect loop (request -> rewrite to front controller ->
    # redirect -> request -> ...).
    # So in case you get a "too many redirects" error or you always get redirected
    # to the startpage because your Apache does not expose the REDIRECT_STATUS
    # environment variable, you have 2 choices:
    # - disable this feature by commenting the following 2 lines or
    # - use Apache >= 2.3.9 and replace all L flags by END flags and remove the
    #   following RewriteCond (best solution)
    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    RewriteRule ^app\.php(/(.*)|$) %{CONTEXT_PREFIX}/$2 [R=301,L]

    # If the requested filename exists, simply serve it.
    # We only want to let Apache serve files and not directories.
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule .? - [L]

    # The following rewrites all other queries to the front controller. The
    # condition ensures that if you are using Apache aliases to do mass virtual
    # hosting, the base path will be prepended to allow proper resolution of the
    # app.php file; it will work in non-aliased environments as well, providing
    # a safe, one-size fits all solution.
    RewriteCond %{REQUEST_URI}::$1 ^(/.+)(.+)::\2$
    RewriteRule ^(.*) - [E=BASE:%1]
    RewriteRule .? %{ENV:BASE}app.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        # When mod_rewrite is not available, we instruct a temporary redirect of
        # the startpage to the front controller explicitly so that the website
        # and the generated links can still be used.
        RedirectMatch 302 ^/$ /app.php/
        # RedirectTemp cannot be used instead
    </IfModule>
</IfModule>
